h1{
    font-size:8rem;
    border-style: double;
    border-radius: 8rem;
    margin-right: 20rem;
    margin-left: 20rem;
    border-width: 1rem;
    border-color: white;
    margin-bottom: 1%;
    
    text-align: center;
    color: white;
    

    animation:3s linear 0s infinite running myColorChange;
    
   
}

@keyframes myColorChange{
         10%{background-color: black;}
         20%{background-color: blue;}
         30%{background-color: mediumvioletred;}
         40%{background-color: green;}
         60%{background-color: crimson;}
         80%{background-color: purple;}
         100%{background-color: hotpink;}
      

} 
    


h2{
    text-align: center;
    color: blueviolet;
    
    color: white;
   /* background-origin: inherit;
    border-style: solid;
    border-radius: 1rem;
    border-color: blue;
    margin-block-end: 10%;
    margin-left: 30rem;
    margin-right: 30rem;
    background-color: crimson;*/
    
   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    

    animation:mySlide;
    animation-play-state:running;
    animation-iteration-count:infinite;
    animation-duration:5s;
    
}
@keyframes mySlide{
                   from{margin-left:10%;}
                   to{margin-right:30%;}
                   
}
    
 
    
body{

    background-color: rgb(218, 222, 219);

}

 /*   animation:myColorChange;
    animation-play-state:running;
    animation-iteration-count:infinite;
    animation-duration:10s;
   
}
@keyframes myColorChange{
        10%{background-color: rgb(117, 5, 5);}
        20%{background-color: blue;}
        30%{background-color: mediumvioletred;}
        40%{background-color: green;}
        60%{background-color: crimson;}
        80%{background-color: purple;}
        100%{background-color: hotpink;}
   */  

    

h3{
    font-size: 2rem;
    color:white;
    font-family: sans-serif;


}

